body {
  overflow: overlay;
  background-color: #151515;
}

.s1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150vh;
  overflow: hidden;
}

.s2,
.s4 {
  background-color: transparent;
  overflow: hidden;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255, 247, 36)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

h2 {
  color: #fff724;
  text-shadow: 7px 0 5px rgba(255, 248, 36, 0.247);
}

.grazie {
  color: #fff724;
  text-shadow: 7px 0 5px rgba(255, 248, 36, 0.247);
}

.grazieContainer {
  width: 100%;
  height: 100%;
}
.grazieContainer div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper {
  background-attachment: fixed;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper h1 {
  text-shadow: 7px 0 5px rgba(255, 248, 36, 0.247);
}

.glowing {
  position: relative;
  top: -250px;
  min-width: 750px;
  height: 750px;
  margin: -150px;
  transform-origin: right;
  animation: colorChange 5s linear infinite;
}

.glowing:nth-child(even) {
  transform-origin: left;
}

.glowing span {
  position: absolute;
  top: calc(80px * var(--i));
  left: calc(80px * var(--i));
  bottom: calc(80px * var(--i));
  right: calc(80px * var(--i));
}

.glowing span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  width: 15px;
  height: 15px;
  background: #f00;
  border-radius: 50%;
}

.glowing span:nth-child(3n+1)::before {
  background: rgb(134, 255, 0);
  box-shadow: 0 0 20px rgb(134, 255, 0), 0 0 40px rgb(134, 255, 0), 0 0 60px rgb(134, 255, 0), 0 0 80px rgb(134, 255, 0), 0 0 0 8px rgba(134, 255, 0, 0.1);
}

.glowing span:nth-child(3n+2)::before {
  background: rgb(255, 214, 0);
  box-shadow: 0 0 20px rgb(255, 214, 0), 0 0 40px rgb(255, 214, 0), 0 0 60px rgb(255, 214, 0), 0 0 80px rgb(255, 214, 0), 0 0 0 8px rgba(255, 214, 0, 0.1);
}

.glowing span:nth-child(3n+3)::before {
  background: rgb(0, 226, 255);
  box-shadow: 0 0 20px rgb(0, 226, 255), 0 0 40px rgb(0, 226, 255), 0 0 60px rgb(0, 226, 255), 0 0 80px rgb(0, 226, 255), 0 0 0 8px rgba(0, 226, 255, 0.1);
}

.glowing span:nth-child(3n+1) {
  animation: animate 10s alternate infinite;
}

.glowing span:nth-child(3n+2) {
  animation: animate-reverse 3s alternate infinite;
}

.glowing span:nth-child(3n+3) {
  animation: animate 8s alternate infinite;
}

@keyframes colorChange {
  0% {
    filter: hue-rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-reverse {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.personal-nav {
  background-color: rgba(31, 33, 36, 0.8352941176);
  box-shadow: 2px 0 8px rgba(255, 255, 255, 0.649);
}

.navbar-nav a {
  color: white;
  font-size: 1.2em;
  margin-right: 30px;
}

.navbar-nav span {
  margin-left: 50px;
}

.navbar-nav span a {
  margin-right: 10px;
}

.navbar-nav a:hover {
  color: #fff724 !important;
}

.active {
  color: white !important;
}

#info {
  position: absolute;
  left: 15%;
  bottom: -30px;
  width: 500px;
}
#info h2 {
  font-size: 1.8em;
  color: #fff724;
  text-shadow: 7px 0 5px rgba(255, 248, 36, 0.247);
}
#info h3 {
  color: white;
}
#info p {
  color: white;
}

.next {
  position: absolute;
  bottom: 0;
  font-size: 30px;
  font-weight: lighter;
  color: #fff724;
  margin-bottom: 20px;
  animation: freccia 2s infinite;
  text-decoration: none;
}

.next:hover {
  color: #a8a425;
}

.auto-type {
  color: #fff724;
}

#works {
  margin-top: -100px;
  padding-bottom: 100px;
}
#works .laptop {
  width: 100%;
}
#works .carousel {
  padding-top: 100px;
  padding-bottom: 100px;
}
#works .insideCarousel {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#works .insideCarousel .pr {
  width: 50%;
}
#works .insideCarousel .desc {
  width: 30%;
}
#works .insideCarousel .desc h3 {
  text-align: center;
  color: #fff724;
}

.personal-btn {
  border: 1px solid #fff724;
  color: #fff724;
}

.personal-btn:hover {
  color: #a8a425;
  border: 1px solid #a8a425;
}

#skills {
  background-color: #151515;
  padding-bottom: 100px;
}
#skills .lang {
  margin: 0 auto;
}
#skills .lang .row {
  display: flex;
  justify-content: center;
}
#skills .lang .row .linguaggi {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
#skills img {
  width: 100px;
}

#contacts {
  padding-top: 100px;
}
#contacts h2 {
  font-size: 3.5em;
}
#contacts h3 {
  padding-top: 20px;
  color: white;
}
#contacts p {
  font-size: 1.2em;
}

.cont-style {
  text-decoration: none;
  color: white;
}

.cont-style:hover {
  color: #a8a425;
}

.form-control,
.form-control:focus {
  background-color: #555;
  border: none;
  color: white;
}

label {
  color: white;
}

.form-control::-moz-placeholder {
  color: rgb(148, 148, 148);
}

.form-control::placeholder {
  color: rgb(148, 148, 148);
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes freccia {
  0% {
    bottom: 15px;
  }
  100% {
    bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .navbar-nav span {
    margin-left: 25px;
  }
  #info {
    width: auto;
    left: 10px;
  }
  #info h2 {
    font-size: initial;
  }
  #works {
    padding-bottom: 0;
  }
  #works .insideCarousel {
    font-size: 0.7em;
    flex-direction: column;
    align-items: center;
  }
  #works .insideCarousel .desc {
    width: 90%;
    margin-top: 20px;
  }
  #works .insideCarousel .desc .personal-btn {
    width: 35%;
    height: 35%;
    font-size: 0.8em;
  }
  #skills {
    padding-bottom: 0;
  }
  #skills img {
    width: 70px;
  }
  #contacts {
    font-size: 0.8em;
  }
  #contacts h2 {
    font-size: 2em;
  }
}
@media screen and (max-width: 912px) {
  .navbar-nav a {
    font-size: initial;
    margin-right: 0;
  }
}/*# sourceMappingURL=style.css.map */